.main-container-mobile {
    width: 100%;
}

.category-mobile-btn,
.questions-mobile-btn {
    font-size: 10vw;
    text-decoration: underline;
    margin-left: 5vw;
    position: relative;
}

.category-mobile,
.questions-menu-mobile {
    display: none;
    position: fixed;
    top: 7%;
    left: 7%;
    z-index: 100;
    background-color: white;
}

.active {
    display: block;
    width: 100vw;
}

.title-mobile {
    font-size: 10vw;
    text-decoration: underline;
    margin-left: 3vw;
    margin-bottom: 2vw;
}

#microphone-mobile {
    position: absolute;
    left: 125%;
    top: 0%;
    width: 22vw;
}

#microphone-mobile:hover {
    cursor: pointer;
}

.content-box-mobile {
    position: fixed;
    top: 15vh;
    margin-top: 0;
    margin-left: 1vw;
}

.questions-menu-mobile {
    border: 4px solid red;
    overflow: auto;
    max-height: 120vh;
}

.answer-and-question-mobile {
    height: 129vh;
    width: 138vw;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
}

.question-mobile {
    font-size: 7vw;
    margin-bottom: 3vh;
    height: 12vh;
    overflow: auto;
    border: 2px solid red;
    padding: 2vw;
}

.answer-mobile {
    font-size: 7vw;
    height: 90vh;
    overflow: auto;
    border: 2px solid red;
    padding: 2vw;
}

.mobile {
    font-size: 7vw;
    border-bottom: 4px solid red;
}

.mobile-category-menu {
    font-size: 9vw;
}
/* продублировал из styles.css так как этот файл подключается позже */
.last-question {
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

.main-page-content-mobile {
    width: 135vw;
    height: 123vh;
    overflow: auto;
    border: 2px solid red;
    padding: 2vw;
    font-size: 10vw;
    margin: 3vh 2.3vw auto;
}