.main-container {
    display: flex;
    height: 98vh;
}

.rubrics-menu {
    width: 25vw;
}

.content-box {
    display: flex;
    margin-top: 0;
    margin-left: 1vw;
}

.main-page-content {
    width: 80.5vw;
    overflow: auto;
    border: 2px solid red;
    padding: 10px;
    font-size: 2vw;
    margin-left: 10px;
}

.questions-menu {
    width: 25vw;
    max-height: 86.7vh;
}

.questions-container {
    border: 2px solid red;
    max-height: 100%;
    overflow: auto;
}

.answer-and-question {
    width: 46vw;
    height: 88.7vh;
    margin-left: 1.3vw;
}

.answer, .question {
    border: 2px solid red;
    font-size: 1.87vw;
    padding: 10px;
    overflow: auto;
    word-break: break-word;
}

.question {
    margin-bottom: 3vh;
    height: 12vh;
    overflow: hidden;
}

.answer {
    max-height: 58.7vh;
}

.main-title {
    font-size: 2.5vh;
    width: 90%;
    border: 2px solid red;
    margin: 5px;
    padding: 8px;
    transition: 0.2s;
}

.title {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-left: 10px;
}

.main-title:hover {
    cursor: pointer;
    margin-left: 1.2vw;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.select {
    margin-left: 1.2vw;
    color: white;
    background-color: red;
}

.question-in-menu {
    font-size: 1.4vw;
    padding: 10px;
    border: 1px solid white;
    /*margin-bottom: 10px;*/
    border-bottom: 1px solid red;
}

.select-question {
    color: white;
    background-color: red;
}

a {
  text-decoration: none;
  color: black;
}

.question-in-menu:hover {
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.last-question {
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

/* кастомный скролл */
.main-page-content::-webkit-scrollbar,
.questions-container::-webkit-scrollbar,
.question::-webkit-scrollbar,
.answer::-webkit-scrollbar {
    width: 10px;
}

.main-page-content::-webkit-scrollbar-track,
.questions-container::-webkit-scrollbar-track,
.question::-webkit-scrollbar-track,
.answer::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.1);
}

.main-page-content::-webkit-scrollbar-thumb,
.questions-container::-webkit-scrollbar-thumb,
.question::-webkit-scrollbar-thumb,
.answer::-webkit-scrollbar-thumb {
    background-color: rgba(256, 0, 0, 0.5);
}

.main-page-content,
.questions-container,
.question,
.answer {
    scrollbar-width: thin;
    scrollbar-color: rgba(256, 0, 0, 0.5);
}

/* voice */
.startVoiceWrapper {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startVoice {
    font-size: 5vw;
}

#category-title {
    position: relative;
}

#microphone {
    position: absolute;
    left: 85%;
    top: 15%;
}

#microphone:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
  /* Стили для экранов шириной до 767 пикселей (мобильные устройства) */
  .block-to-hide {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Стили для экранов шириной от 768 пикселей (десктоп) */
  .block-to-hide {
    display: block;
  }
  .collapsed-block {
    display: none;
  }
}
