.main-container {
    display: flex;
}

.rubrics-menu {
    width: 25vw;
}

.content-box {
    display: flex;
    margin: 0 2vw auto;
}

.main-page-content {
    width: 80.5vw;
    overflow: auto;
    height: 92.3vh;
    border: 2px solid red;
    padding: 10px;
    font-size: 2vw;
    margin-left: 10px;
}

.questions-menu {
    width: 25vw;
    height: 86.7vh;
}

.questions-container {
    border: 2px solid red;
    max-height: 86.3vh;
    overflow: auto;
}

.answer-and-question {
    width: 45vw;
    height: 88.7vh;
    margin-left: 2vw;
}

.answer, .question {
    border: 2px solid red;
    font-size: 1.87vw;
    padding: 10px;
    overflow: auto;
    word-break: break-word;
}

.question {
    margin-bottom: 3vh;
    height: 12vh;
}

.answer {
    max-height: 58.7vh;
}

.main-title {
    font-size: 1.87vw;
    width: 90%;
    border: 2px solid red;
    margin: 5px;
    padding: 8px;
    transition: 0.2s;
}

.title {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-left: 10px;
}

.main-title:hover {
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.select {
    margin-left: 20px;
    color: white;
    background-color: red;
}

.question-in-menu {
    font-size: 2vw;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.question-in-menu:hover {
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.last-question {
    margin-bottom: 0;
}

.questions-container::-webkit-scrollbar,
.question::-webkit-scrollbar,
.answer::-webkit-scrollbar {
    width: 10px;
}

.questions-container::-webkit-scrollbar-track,
.question::-webkit-scrollbar-track,
.answer::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.3);
}

.questions-container::-webkit-scrollbar-thumb,
.question::-webkit-scrollbar-thumb,
.answer::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.3);
}

.questions-container,
.question,
.answer {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.3);
}
